!!! 5
%html
  %head
    %title Weather App
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/reset.css', 'type' => 'text/css'}
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/sass/main.css', 'type' => 'text/css'}
    %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Lobster&v2', 'type' => 'text/css' }
    %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Tienne&v2', 'type' => 'text/css' }
  %body
    #main
      %h1 How about that Weather?

      %ul
        - @current = ""
        - for temp in @temps
          - if @current != temp[:time].strftime(@dateformat)
            %li.day 
              %pre
                %span= temp[:time].strftime(@dateformat) 
          %li.data
            %span.time= temp[:time].strftime("%H:%M") 
            %span.temp= temp[:temp]
          - @current = temp[:time].strftime(@dateformat)
