!!! 5
%html
  %head
    %title Weather App
    %link{"rel" => "stylesheet", "href" => "stylesheets/reset.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "stylesheets/sass/main.css", "type" => "text/css"}
  %body
    #main
      #header
        Weather App
      #app
        App stuff
      #footer
        Footer stuff
